.admin_container{
    padding: 20px 0px;
    position: relative;

    .admin_title{
        margin-bottom: 10px;
        font-size: 26px;
    }
    
    .admin_subtitle{
        margin-top: 10px;
        font-size: 21px;
        margin-bottom: 30px;
    }
}
