@import "../../index.scss";

.auth_container {
  min-height: 600px;
  font-family: "Montserrat", sans-serif;

  .auth_card {
    padding: 0 !important;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 80px 0px;
  }
}
