@import "../../../index.scss";

.brands_container_main {
  font-family: "Montserrat", sans-serif;
  margin-top: 60px;
  
  .catalog_title{
    font-size: 25px;
    font-weight: bold;
    color: black;

    .red{
      color: $red;
    }
  }

  .placeholder{
    height: 150px;
    padding: 0 !important;
    cursor: pointer;
    transition: 1s;
    border-radius: 10px;
    box-shadow: none;
  }

  .brand_card {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    height: 150px;
    padding: 0 !important;
    cursor: pointer;
    transition: 1s;
    border-radius: 10px;
    box-shadow: none;
    border: 1px solid $black;


    &:hover{
      transition: 1s;
      .card_product_main_body{
        background-color: rgba(0, 0, 0, 0.747);
      }
    }
  }

  .card_brand_main_body{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: bold;
    margin: 0 !important;
    display: flex;
    align-items: flex-end;
    font-family: 'Montserrat', sans-serif;
  }

  .btn_other_product {
    border-radius: 20px;
    background-color: $red;
    border: none;
    padding: 5px 20px;

    &:hover {
      background-color: $white_red;
    }
  }
}

.swiper-horizontal>.swiper-pagination-bullets{
    margin-top: 30px;
}

.mySwiperBrand > .swiper-wrapper{
    height: 190px;
}

.swiper-pagination-bullet-active{
    background-color: $red;
}
