//Scroll-bar steles
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "CalSans-SemiBold";
  src: url("./fonts/CalSans-SemiBold.woff") format("woff"),
    url("./fonts/CalSans-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

/* DM Sans Regular */
@font-face {
  font-family: "DM Sans";
  src: url("./fonts/DM_Sans/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

/* DM Sans Italic */
@font-face {
  font-family: "DM Sans";
  src: url("./fonts/DM_Sans/DMSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

/* DM Sans Medium */
@font-face {
  font-family: "DM Sans";
  src: url("./fonts/DM_Sans/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

/* DM Sans Bold */
@font-face {
  font-family: "DM Sans";
  src: url("./fonts/DM_Sans/DMSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

/* DM Sans Bold Italic */
@font-face {
  font-family: "DM Sans";
  src: url("./fonts/DM_Sans/DMSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

//---------Body Style-----------

body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: #ffffff;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(252, 41, 41);
  border-radius: 20px;
  border: 3px solid #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

* {
  font-family: "Montserrat", sans-serif !important;
}

//---------Card Style-----------
.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.spinner__text {
  color: rgb(252, 49, 49);
  padding-right: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.spinner-border {
  margin-left: 20px;
}

//---------Color Style-----------
$white: #edf2f4;
$grey: #8d99ae;
$black: #2b2d42;
$white_red: #ef233c;
$red: #d90429;
$pink-red: #ffd3b6;
$pink: #ffaaa5;
$green: #dcedc1;
$white-green: #e0f9b5;

//----Color Grey
$bg-gray-100: rgb(243 244 246);
$bg-gray-200: rgb(229 231 235);
$bg-gray-300: rgb(209 213 219);
$bg-gray-400: rgb(156 163 175);
$bg-gray-500: rgb(107 114 128);
$bg-gray-600: rgb(75 85 99);
$bg-gray-700: rgb(55 65 81);
$bg-gray-800: rgb(31 41 55);
$bg-gray-900: rgb(17 24 39);

a {
  color: $red;
}

.nav-link {
  color: $red;

  &:hover{
    color: $white_red;
  }
}

.pagination {
  .page-item {
    .page-link {
      color: $red !important;
      border: 1px solid $red !important;
    }

    &.active {
      .page-link {
        background-color: $red !important;
        border: 1px solid $red !important;
        color: white !important;
      }
    }
  }
}
