@import "../../../../index.scss";

.error_text {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.auth_question_btn {
  font-family: "Montserrat", sans-serif;

  border: none;
  border-radius: 30px;
  padding: 10px;
  background-color: $red;
  color: white;

  &:hover {
    background-color: $white_red;
  }
}
