.notification_container{
    min-height: 650px;
    font-family: 'Montserrat', sans-serif;


    .notification_card{
        border-radius: 30px;
        padding: 5px !important;
        margin-bottom: 10px;
    }

}