.brand-table {
    tr td:last-child {
      width: 1%;
      white-space: nowrap;
    }
  
    tr td:nth-child(3) {
      width: 1%;
      white-space: nowrap;
    }
  
    tr td:first-child {
      width: 1%;
      white-space: nowrap;
    }
  }
  