@import "../../../index.scss";

.catalog_container {
  font-family: "Montserrat", sans-serif;
  margin-top: 50px;
  .catalog_title {
    font-size: 25px;
    font-weight: bold;
  }

  a {
    text-decoration: none;
  }

  .card_product_main {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 200px;
    padding: 0 !important;
    cursor: pointer;
    transition: 0.5 s ease all;
    border-radius: 10px;
    margin: 5px 0 !important;
    box-shadow: none;

    &:hover {
      transition: 0.5 s ease all;
      .card_product_main_body {
        transition: 0.5 s ease all;
        background-color: rgba(0, 0, 0, 0.747);
      }
    }

    .card_product_main_body {
      background-color: rgba(0, 0, 0, 0.61);
      border-radius: 10px;
      width: 100%;
      height: 100%;
      color: white;
      font-weight: bold;
      margin: 0 !important;
      display: flex;
      transition: 0.5 s ease all;
      align-items: flex-end;
      font-family: "Montserrat", sans-serif;
    }
  }

  .btn_other_product {
    border-radius: 20px;
    background-color: $red;
    border: none;
    padding: 5px 20px;

    &:hover {
      background-color: $white_red;
    }
  }
}
