.count_data {
  padding-top: 50px;
  padding-bottom: 50px;

  .countNumber {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }

  .countNumberA {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 40px;
  }

  .icon_count {
    color: white;
  }

  .text {
    font-size: 12px;
  }
}
