@import "../../index.scss";

.forgot_container {
  font-family: "Montserrat", sans-serif;
  min-height: 640px;

  .alert_error_container {
    position: relative;
    height: 0px;
  }

  .alert_error {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    position: absolute;
    z-index: 99;
    right: 0;
    color: #fff;
    background-color: $red;
    border-radius: 5px;
    padding: 3px;
  }

  .server_alert{
    width: 100%;
    position: relative;
    padding: 15px;
    background-color: rgb(45, 222, 245);
    border: none;
    color: black;
  }

  i{
    z-index: 200;
}

}
