.tag {
    display: block;
    width: fit-content;
    border-radius: 3px;
    padding: .2em .5em .3em;
    border-radius: 2px;
    font-weight: 600;
    margin: .25em .1em
}

.tag-good {
    background: rgb(7, 187, 7);
    color: #fff
}

.tag-lg {
    font-size: 12px;
    border-radius: 10px
}