@import "../../../index.scss";

.off_title {
  font-weight: bold !important;
  font-family: "Montserrat", sans-serif;
  color: $red;
}

.admin_offcanvas {
  background-image: none !important;
  background-color: white !important;
  .btn-close {
    fill: $red;
    color: $red;
    svg {
      fill: $red;
      color: $red;
      background-color: $red;
    }
  }
}

.sidebar_container {
  padding-left: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;

  a {
    text-decoration: none;
  }

  .sidebar_row_dop {
    padding: 10px 0px;

    .sidebar_col_dop {
      padding-left: 0 !important;
      margin-left: 0 !important;
      display: flex;
      justify-content: start;
      height: auto;
      color: rgb(0, 0, 0);
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      margin-top: 10px;
      .red {
        color: $red;
      }
    }
  }

  .sidebar_row {
    padding: 10px 0px;

    .sidebar_col {
      padding-left: 0 !important;
      margin-left: 0 !important;
      display: flex;
      justify-content: start;
      height: auto;
      color: white;
      margin-right: 0 !important;
      cursor: pointer;
      text-decoration: none;

      .sidebar_row_icons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: $white_red;
        text-decoration: none;
      }

      .sidebar_row_text {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
      }
    }

    &:hover {
      text-decoration: none;
      .sidebar_row_icons {
        color: $red;
        text-decoration: none;
      }

      .sidebar_row_text {
        color: $black;
        text-decoration: none;
      }
    }
  }
}
