.sidebar_container {
  padding-left: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;

  a{
    text-decoration: none;
  }

  .sidebar_row_dop {
    padding: 10px 0px;

    .sidebar_col_dop {
      padding-left: 0 !important;
      margin-left: 0 !important;
      display: flex;
      justify-content: center;
      height: auto;
      color: rgb(0, 0, 0);
    }
  }

  .sidebar_row {
    padding: 10px 0px;

    .sidebar_col {
      padding-left: 0 !important;
      margin-left: 0 !important;
      display: flex;
      justify-content: center;
      height: auto;
      color: white;
      margin-right: 0 !important;
      cursor: pointer;
      text-decoration: none;

      .sidebar_row_icons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: rgb(0, 0, 0);
        text-decoration: none;
      }

      .sidebar_row_text {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: rgb(0, 0, 0);
        text-decoration: none;
      }
    }

    &:hover {
      color: rgb(139, 0, 0);
      text-decoration: none;
      .sidebar_row_icons {
        color: rgb(139, 0, 0);
        text-decoration: none;
      }

      .sidebar_row_text {
        color: rgb(139, 0, 0);
        text-decoration: none;
      }
    }
  }
}
