@import "../../index.scss";

.about_us {
  background-image: url(../../../public//img//about/about-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Montserrat", sans-serif;

  .first_null_section {
    height: 200px;
  }
}
