.news{
    height: 450px;
    background-image: url(../../../../public/img/header/bg_header.png);
    font-family: 'Montserrat', sans-serif;


    .title{
        padding-top: 30px;
        
    }

    h3{
        color: white;
    }

}