//@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
// a
// {
//     text-decoration: none;
// }
// .product-card {
//     width: 30%;
//     position: relative;
//     box-shadow: 0 2px 7px #dfdfdf;
//     margin: 30px 10px 0px;
//     background: #fafafa;
// }

// .badge {
//     position: absolute;
//     left: 0;
//     top: 20px;
//     text-transform: uppercase;
//     font-size: 13px;
//     font-weight: 700;
//     background: red;
//     color: #fff;
//     padding: 3px 10px;
// }

// .product-tumb {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 300px;
//     background: #ffffff;
// }

// .product-tumb img {
//     max-width: 100%;
//     max-height: 100%;
// }

// .product-details {
//     padding: 30px;
// }

// .product-catagory {
//     display: block;
//     font-size: 12px;
//     font-weight: 700;
//     text-transform: uppercase;
//     color: #ccc;
// }

// .product-details h4 a {
//     font-weight: 500;
//     display: block;
//     margin-bottom: 18px;
//     text-transform: uppercase;
//     color: #363636;
//     text-decoration: none;
//     transition: 0.3s;
// }

// .product-details h4 a:hover {
//     color: #fbb72c;
// }

// .product-details p {
//     font-size: 15px;
//     line-height: 22px;
//     margin-bottom: 18px;
//     color: #999;
// }

// .product-bottom-details {
//     overflow: hidden;
//     border-top: 1px solid #eee;
//     padding-top: 20px;
// }

// .product-bottom-details div {
//     float: left;
//     width: 50%;
// }

// .product-price {
//     font-size: 18px;
//     color: #fb2c2c;
//     font-weight: 600;
// }

// .product-price small {
//     font-size: 80%;
//     font-weight: 400;
//     text-decoration: line-through;
//     display: inline-block;
//     margin-right: 5px;
// }

// .product-links {
//     text-align: right;
// }

// .product-links a {
//     display: inline-block;
//     margin-left: 5px;
//     color: #e1e1e1;
//     transition: 0.3s;
//     font-size: 17px;
// }

// .product-links a:hover {
//     color: #fbb72c;
// }

@import '../../index.scss';

.product_card{
    border-radius: 30px !important;
    margin: 0;
    box-shadow: none;
    padding: 0 !important;
    font-family: 'Montserrat', sans-serif;

    .subtitle_card{
        color: rgb(187, 36, 48);
    }

    .title_card{
        &:hover{
            color: rgb(202, 42, 56);
        }
    }

    .img_card{
        border-top-right-radius: 30px !important;
        border-top-left-radius: 30px !important;

        max-height: 400px;
        object-fit: cover;
        box-shadow: none;

    }

    .price_card{
        text-transform: uppercase;
        color: rgb(202, 42, 56);
        font-weight: bold;
        font-size: 20px;
    }

    .btn_cart_out{
        border-radius: 50%;
        background: none;
        border: 1px solid rgb(0, 0, 0);
        color: black;
        margin-right: 10px;

        &:hover{
            border: 1px solid rgb(30, 185, 69);
            color: rgb(30, 185, 69);
        };
    }
    a{
        text-decoration: none;
        color: black;

    }

    .btn_cart_in{
        border-radius: 50%;
        background: none;
        border: 1px solid rgb(30, 185, 69);
            color: rgb(30, 185, 69);
        margin-right: 10px;
        &:hover{
            border: 1px solid rgb(0, 0, 0);
            color: black;
        };
    }

    .btn_like_out{
        border-radius: 50%;
        background: none;
        border: 1px solid rgb(0, 0, 0);
        color: black;
        
        &:hover{
            border: 1px solid rgb(185, 30, 30);
            color: rgb(185, 30, 30);
        };
    }

    .btn_like_in{
        border-radius: 50%;
        background: none;
        border: 1px solid rgb(185, 30, 30);
            color: rgb(185, 30, 30);
        
        &:hover{
            border: 1px solid rgb(0, 0, 0);
            color: black;
        };
    }
}